.form-container {
    font-family: arial;
    font-size: 24px;
    margin: auto;
    width: 350px;
}

video {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

label {
    display: block;
    margin: auto;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 5px;
}

button:hover {
    background-color: #45a049;
}